<div class="row">
  <div class="col-md-5">
    <h2>Sensoren</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let sensor of sensoren"
        (click)="selectSensor(sensor)"
        [class.active]="sensor === selectedSensor">
        {{sensor.betrieb}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewSensor()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <sensor-details
      [sensor]="selectedSensor"
      [createHandler]="addSensor"
      [updateHandler]="updateSensor"
      [deleteHandler]="deleteSensor">
    </sensor-details>
  </div>
</div>